.passwordReset {
    background: var(--color-primary);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .passwordReset .card {
    display: flex;
    flex-direction: row-reverse;
    width: 500px;
    background: white;
    border: 1px solid white;
    border-radius: 2rem;
    overflow: hidden;
   }
   
   .passwordReset .card .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
   }
   
   .passwordReset .card .left p {
    font-size: 0.9rem;
   }
   
   .passwordReset h2 {
    color: var(--color-primary);
   }
   
   .passwordReset .card .right {
    flex: 1;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
   }
   
   .passwordReset form input {
    padding: 1rem 0;
    width: 90%;
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom: 1px solid white;
    margin: 0 auto;
    color: white;
   }
   
   .passwordReset form input::placeholder {
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
   }
   
   .passwordReset form .btn {
    color: var(--color-primary);
    margin-top: 1rem;
   }
   
   .reset-btn {
    background: white;
   }
   
   @media (max-width: 600px) {
    .passwordReset .card {
       width: 90%;
       flex-direction: column;
    }
    .passwordReset .card .right {
       padding-bottom: 20px;
    }
   }
   